html,
body,
#root {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #fbe8a6;
  animation: fadeInBackground 1s forwards;
}

@keyframes fadeInBackground {
  0% {
    opacity: 0; /* Start with a fully transparent background */
    background-color: #fbe8a6;
  }

  60% {
    opacity: 1; /* Fade in the background */
    background-color: rgb(7, 7, 7);
  }

  100% {
    opacity: 1; /* Keep the background visible */
    background-color: rgb(7, 7, 7);
  }
}

.progress-bar {
  margin-top: 130px;
  width: 400px;
  height: 40px;
  position: absolute;
  left: 50%;
  right: 50%;
  margin-left: -200px; /* half width */
  margin-right: -200px; /* half  width */
  background-color: #84dfe5;
  transition: opacity 0.5s ease-in-out;

  border-radius: 30px;
  box-shadow: 6px 6px 0px 0px rgba(0, 0, 0, 0.445);
  border: 3px solid #73ced4;

  animation: bounceIn 1s;
}
.progress-bar-background {
  background-color: #71c6cc;
  height: 18px;
  right: 200px;
  transform: translate(0, 12px);
  margin-left: 9px;
  margin-right: 9px;

  border-radius: 90px;
}

.progress-bar-inner {
  background: #f4976c;
  height: 12px;
  right: 200px;
  margin-left: 3px;
  transform: translate(0, 3px);
  margin-right: 3px;

  border-radius: 60px;
}

.luke {
  transform: translate(0, -150px);
  scale: 0.7;
}

.luke-text {
  animation: bounceIn 1s;
}

@font-face {
  font-family: 'titan';
  src: url('./fonts/TitilliumWeb-Light.ttf') format('truetype');
}

@keyframes bounceIn {
  0% {
    transform: scale(0.1);
    opacity: 0;
  }
  60% {
    transform: scale(1.2);
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}

@keyframes breathe {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

.button-outer {
  margin-top: 130px;
  width: 210px;
  height: 75px;
  position: absolute;
  left: 50%;
  right: 50%;
  margin-left: -105px; /* half width */
  margin-right: -105px; /* half  width */
  background-color: #73ced4;
  box-shadow: 6px 6px 0px 0px rgba(0, 0, 0, 0.445);

  border-radius: 15px;

  animation: breathe 3s infinite;
}

.button-outer:hover {
  background-color: #84dfe5;
  transition: 0.5s;
  scale: 0.96;
  transition: ease-out 0.5s;

  animation: none;
}

.intro-btn {
  position: absolute;
  transform: translate(0, 1px);
  width: 200px;
  height: 70px;
  right: 35%;
  margin-left: -30px;
  margin-right: -67px;
  border-radius: 10px;

  border: 2px solid #73ced4;

  background-color: #84dfe5;
}

.btn-text {
  transform: translate();
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
  color: whitesmoke;
  font-size: 20px;
  text-shadow: black 12px;
  box-shadow: 5px black;
}

.eyes-shutting-top {
  top: 0;
  left: 0;
  right: 0;
  position: absolute;
  height: 20vh;
  width: 200vh;
  margin-left: -100vh;
  margin-right: -100vh;
  background: radial-gradient(90% 80% at bottom, transparent 60%, #091009 0%);
  visibility: visible;
  animation: blink 2s 0.5s forwards;
  overflow: hidden;
}

.eyes-shutting-bottom {
  top: 0;
  left: 0;
  right: 0;
  position: absolute;
  height: 20vh;
  width: 200vh;
  margin-left: -100vh;
  margin-right: -100vh;
  background: radial-gradient(90% 80% at bottom, transparent 70%, #091009 0%);
  visibility: visible;
  bottom: 10px;
  transform: rotatex(180deg);
  transform-origin: top;
  animation: blink 2s 0.5s forwards;
}

.container {
  animation: blur 2s 1s forwards;
}

@keyframes blink {
  0% {
    visibility: visible;
  }
  60% {
    height: 23vh;
  }
  100% {
    height: 51.5vh;
    visibility: visible;
    border-bottom-left-radius: 0%; /* Make the bottom left corner more rounded */
    border-bottom-right-radius: 0%;
  }
  50% {
    height: 28vh;
  }
}

.loading-text-container {
  width: 300px;
  position: absolute;
  margin-left: -150px;
  margin-right: -150px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.loading-text {
  font-family: 'titan';
  font-size: 30px;
  white-space: nowrap;
  color: #fbe8a6;
}

@keyframes blur {
  0% {
    filter: blur(0px);
  }

  60% {
    filter: blur(0.1px);
  }
  100% {
    filter: blur(1px);
  }
}

.intro-background {
  position: fixed; /* Make the div fixed position */
  top: 100vh; /* Set the top edge to the top edge of the screen */
  left: 100vh; /* Set the left edge to the left edge of the screen */
  right: 100vh; /* Set the right edge to the right edge of the screen */
  bottom: 100vh; /* Set the bottom edge to the bottom edge of the screen */
  background-color: black;
}
