html,
body,
#root {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #eee2de;
}

.scrollBtn > div {
  font-family: "Times New Roman", Times, serif;
  position: absolute;
  background: #b31312;
  color: white;
  padding: 18px;
  white-space: nowrap;
  overflow: hidden;
  border-radius: 9px;
  user-select: none;
  cursor: pointer;
  visibility: visible;

  top: 20px;

  &:hover {
    background: #b31712;
    color: black;
  }
}
