.portfolioScreen iframe {
  width: 480px;
  height: 280px;
  background-image: url('/public/images/background.jpg');
  background-size: 100%;
  border-radius: 1%;
  border-color: none;

  z-index: -1;
}

.Portfolio {
  position: absolute;
  width: 40px;
  height: 40px;
  left: 10%;
  top: 20%;
  background-image: url('/public/images/professional-portfolio.png');
  background-size: 100%;
}

.Portfolio:hover,
.About:hover {
  transform: scale(0.99);
  cursor: pointer;
}

.text {
  position: absolute;
  top: 30%;
  left: 8%;
  color: white;
  transform: scaleX(-1);
}

.About {
  position: absolute;

  width: 40px;
  height: 40px;

  right: 20%;
  top: 40%;

  background-image: url('/public/images/professional-portfolio.png');
  background-size: 100%;
}

.aboutText {
  position: absolute;
  top: 50%;
  right: 20%;
  color: white;
  transform: scaleX(-1);
}

.taskbar {
  width: 100%;
  left: 0%;
  height: 15px;
  position: absolute;
  bottom: 0%;
  transform: scaleX(-1);
  opacity: 0.8;
}
